*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #3f2b4e, #161f33); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gameBoard {
  display : flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.grille {
  background-image: url("./ressources/table.jpg");
  display: grid;
  grid-template: repeat(3, 200px) / repeat(4, 200px);
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.219);
  margin: 45px 0 0;
}

.carte {
  background-color: transparent;
  perspective: 1000px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219);
  transition: ease-in-out 0.3s
}

.carte:hover {
  transform: scale(1.03);
}

.double-face {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.face, .arriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: rotateX(0deg);
}

.face {
  background: rgb(31, 31, 31);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.face img {
  width: 120px;
}

.arriere {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.active {
  transform: rotateY(180deg)
}

.cover {
  position: inherit;
  width: 100%;
}

.title {
  margin-top: 10px;
}

.gameBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.leaderboard {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 45px 0 0 250px;
  width: 300px;
  height: 600px;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.219);
}

.lbTitle {
  background-color: rgb(112, 112, 112);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  border-bottom: 0px;
  height: 40px;
}

.lbScore {
  background-color: rgb(163, 163, 163);
  width: 100%;
  border: 3px solid black;
  height: 560px;
  overflow-y: scroll;
}

.scrollBar::-webkit-scrollbar {
  width: 10px;
  background-color: #6b6767;
}

.scrollBar::-webkit-scrollbar-track {
  background: #464444;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207);
}

.cell {
  width: 100%;
  height: 50;
}

.cell > p {
  background-color: rgb(145, 140, 140);
  width: 98%;
  padding: 15px 15px;
  margin: 2px 2px 2px 2px;
  border: solid 1px black
}

.msgContainer {
  background-color: rgb(143, 134, 134);
  margin: 70px 0 0;
}

.RContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.lbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.Rbtn {
  width: 25%;
  height: 4vh;
  align-self: center;
}

.Wpara {
  width: 75%;
  font-size: medium;
  justify-self: flex-start;
}

.lbBtn {
  width: 25%;
  height: 4vh;
  align-self: center;
}

.score {
  width: 75%;
  font-size: medium;
  justify-self: flex-start;
}

.hidden {
  display: none;
}

.visible {
  display: inline;
}